[submodule "weblocks-jquery"]
	path = weblocks-jquery
	url = git://github.com/html/weblocks-jquery.git
[submodule "jquery-seq"]
	path = jquery-seq
	url = git://github.com/html/jquery-seq.git
[submodule ".quicklisp/local-projects/prevalence-serialized-i18n"]
	path = .quicklisp/local-projects/prevalence-serialized-i18n
	url = git://github.com/html/prevalence-serialized-i18n.git
[submodule ".quicklisp/local-projects/weblocks-mustache-template"]
	path = .quicklisp/local-projects/weblocks-mustache-template
	url = git://github.com/html/weblocks-mustache-template.git
[submodule ".quicklisp/local-projects/weblocks-twitter-bootstrap-application"]
	path = .quicklisp/local-projects/weblocks-twitter-bootstrap-application
	url = git://github.com/html/weblocks-twitter-bootstrap-application.git
[submodule ".quicklisp/local-projects/weblocks-strings-translation-app"]
	path = .quicklisp/local-projects/weblocks-strings-translation-app
	url = git://github.com/html/weblocks-strings-translation-app.git
[submodule ".quicklisp/local-projects/weblocks-filtering-widget"]
	path = .quicklisp/local-projects/weblocks-filtering-widget
	url = git://github.com/html/weblocks-filtering-widget.git
[submodule ".quicklisp/local-projects/cl-config"]
	path = .quicklisp/local-projects/cl-config
	url = git://github.com/html/cl-config.git
[submodule ".quicklisp/local-projects/weblocks-utils"]
	path = .quicklisp/local-projects/weblocks-utils
	url = git://github.com/html/weblocks-utils.git
[submodule ".quicklisp/local-projects/firephp"]
	path = .quicklisp/local-projects/firephp
	url = git://github.com/html/firephp.git
[submodule ".quicklisp/local-projects/cl-mustache"]
	path = .quicklisp/local-projects/cl-mustache
	url = git://github.com/kanru/cl-mustache.git
[submodule ".quicklisp/local-projects/weblocks"]
	path = .quicklisp/local-projects/weblocks
	url = git://github.com/html/weblocks.git
[submodule ".quicklisp/local-projects/weblocks-ajax-file-upload-presentation"]
	path = .quicklisp/local-projects/weblocks-ajax-file-upload-presentation
	url = git://github.com/html/weblocks-ajax-file-upload-presentation.git
